{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body style="background-color: #0C75B9;">
	
	<div class="container">
			<form name="ID-Form" class="contact2-form validate-form" action="" method="POST" >
	<div class="header">
	<p class = "title">gwa</p>
	<a href="http://isims.iacademy.edu.ph">Please login to iSims first</a>
	</div>
    <div class="input-group mb-3" data-validate="ID is required">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">ID</span>
	  </div>
	  <input type="text" class="form-control" placeholder="Student ID" name='StudNo' maxlength="9" aria-label="Username" aria-describedby="basic-addon1">
	</div>
    <div class="row">
      <input class="btn btn-primary" onclick="window.open('/gwa','other_window')" type="submit" value="Submit">
		</div>
	</form>
	<br>
		</div>
    

    </body>
</html>