{% load static %}
<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script type="text/javascript">function success() {
	 if(document.getElementById("textsend").value==="") { 
            document.getElementById('button').disabled = true; 
        } else { 
            document.getElementById('button').disabled = false;
        }
    }</script>
    </head>
    <body style="background-color: #0C75B9;">
	
	<div class="container">
			<form name="ID-Form" class="contact2-form validate-form" action="https://isims.iacademy.edu.ph/iacademy/process/student.certification.php" method="GET" onsubmit="return validateID()">
	<div class="header">
	<p class = "title">GRADE COMPUTATION</p>
	<a href="/" onclick="window.open('http://isims.iacademy.edu.ph')">Please login to iSims first</a>
	</div>
    <div class="input-group mb-3" data-validate="ID is required">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">ID</span>
	  </div>
	  <input type="text" class="form-control" onkeyup="success()" id ="textsend" placeholder="Student ID" name='StudNo' maxlength="9" aria-label="Username" aria-describedby="basic-addon1" onkeyup="stoppedTyping()" required>
	</div>
    <div class="row">
      <input class="btn btn-primary" id="button" onclick="window.open('/gwa','other_window'); verify()" type="submit" value="Submit"  disabled/>
		</div>
	</form>
	<br>
	<a href="javascript:alert('Login to iSims First!!!!!');win = window.open('https://isims.iacademy.edu.ph/iacademy/students/', '_blank');win.focus()">Click
	me if it's not working</a>
	</div>
    

    </body>
</html>